/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
font-family: 'Arial', sans-serif;
line-height: 1.6;
padding: 20px;
background-color: #f4f4f4;
}

#profile {
    background-color: #10a6cc;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
header {
text-align: center;
margin-bottom: 20px;
}
.profile-img {
width: 150px;
height: 150px;
border-radius: 50%;
margin: 10px;
}

#banner {
    background-color: #333;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
ul {
    display: inline-block;
    list-style-type: none;
}

h1 {
    margin-top: 10px;
    color: #f4f4f4;
    }

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #996644;
}
.bio, .projects {
    margin-bottom: 20px;
    }
a {
    color: #333;
    text-decoration: none;
    }
footer {
    text-align: center;
    margin-top: 20px;
    }
a:hover {
        text-decoration: underline;
        
    }

